<!DOCTYPE html>
<html lang="en">
<head>
    <title>iAmHades</title>
    <meta charset="utf-8">
    <meta name="author" content="hades">
    <meta name="description" content="Powered by hades">
    <!-- 开发阶段 设定 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="x5-orientation" content="portrait">
    <meta name="screen-orientation" content="portrait">
    <link href="/build/css/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/build/css/theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="/build/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">   
     {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
<body>
<div id="app"></div>
{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
{% } %}
</body>
</html>
